* {
  box-sizing: border-box;
}


code {
  font-size: 1.2em;
}

.square {
  background: #fff;
  border: 1px solid lightpink;
  float: left;
  cursor: pointer;
}

.status {
  font-family: 'Montserrat', cursive;
  font-size: 12px;
  margin-bottom: 5px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 10px;
}