#square0 {
    border-bottom: 1px solid hotpink;
    border-right: 1px solid hotpink;
}
#square1 {
    border-bottom: 1px solid hotpink;
    border-left: 1px solid hotpink;
    border-right: 1px solid hotpink;
}
#square2 {
    border-bottom: 1px solid hotpink;
    border-left: 1px solid hotpink;
}
#square3 {
    border-bottom: 1px solid hotpink;
    border-top: 1px solid hotpink;
    border-right: 1px solid hotpink;
}
#square4 {
    border: 1px solid hotpink;
}
#square5 {
    border-bottom: 1px solid hotpink;
    border-top: 1px solid hotpink;
    border-left: 1px solid hotpink;
}
#square6 {
    border-top: 1px solid hotpink;
    border-right: 1px solid hotpink;
}
#square7 {
    border-left: 1px solid hotpink;
    border-top: 1px solid hotpink;
    border-right: 1px solid hotpink;
}
#square8 {
    border-top: 1px solid hotpink;
    border-left: 1px solid hotpink;
}