#square0 {
    border-bottom: 1px solid pink;
    border-right: 1px solid pink;
}
#square1 {
    border-bottom: 1px solid pink;
    border-left: 1px solid pink;
    border-right: 1px solid pink;
}
#square2 {
    border-bottom: 1px solid pink;
    border-left: 1px solid pink;
}
#square3 {
    border-bottom: 1px solid pink;
    border-top: 1px solid pink;
    border-right: 1px solid pink;
}
#square4 {
    border: 1px solid pink;
}
#square5 {
    border-bottom: 1px solid pink;
    border-top: 1px solid pink;
    border-left: 1px solid pink;
}
#square6 {
    border-top: 1px solid pink;
    border-right: 1px solid pink;
}
#square7 {
    border-left: 1px solid pink;
    border-top: 1px solid pink;
    border-right: 1px solid pink;
}
#square8 {
    border-top: 1px solid pink;
    border-left: 1px solid pink;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8A4FFF;
    --bs-btn-border-color: #8A4FFF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #883fd9;
    --bs-btn-hover-border-color: #8758cc;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8758cc;
    --bs-btn-active-border-color: #8734c0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8A4FFF;
    --bs-btn-disabled-border-color: #8A4FFF;
}

.status{
    color: #1C1C1C;
}